<div>

    {{#each beersFromApi}}

        {{!-- <img src="{{this.image_url}}" alt="perrete" width="200px">
        <h5>{{this.name}}</h5>
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p> --}}

         {{>beerPartial this}}

    {{/each}}

</div>