<div id="container_principal">

     <nav id="container-nav">
        <a class="links" href="/">Home</a>
        <a class="links" href="/beers">Beer</a>
        <a class="links" href="/random-beer">Random Beer</a>
    </nav>

    <img src="/images/beer.png" alt="" width="300px">
    <div id="buttons">
        <a class="links-button" href="/beers">Check the Beers!</a>
        <a class="links-button" href="/random-beer">Check a Random Beer!</a>
    </div>

</div>